	#random_post
			%h3 Random  Crap
			.post
				.post_image
					= link_to (image_tag @random_post).image.url(:small)), post_path(@random_post)
				.post_content
					.title
						%h2= link_to @random_post.title, post_path(@random_post)
					.data.clearfix
						%p.username
							Shared by
							= @random_post.user.name
						%p.buttons
							%span
								%i.fa.fa-comments-o
							= @randompost.comments.count
							%span
								%i.fa.fa-thumbs-o-up
								= @randompost.get_likes.size   